<h4>Learn more about SPFx development:</h4>
<ul class="${styles.links}">
    <li><a href="https://aka.ms/spfx" target="_blank">SharePoint Framework Overview</a></li>
    <li><a href="https://aka.ms/spfx-yeoman-graph" target="_blank">Use Microsoft Graph in your solution</a></li>
    <li><a href="https://aka.ms/spfx-yeoman-teams" target="_blank">Build for Microsoft Teams using SharePoint
            Framework</a></li>
    <li><a href="https://docs.aurelia.io/" target="_blank">Learn more about Aurelia2</a></li>
    <li><a href="https://www.dunite.se/news" target="_blank">News from Dunite</a></li>
</ul>
<div>Message from hello-world-other-stuff: ${text}</div>